* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 1440px;
}
.products-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.logo {
  color: rgb(126, 182, 147);
  font-family: Yellowtail;
  font-size: 36px;
  font-weight: 400;
  line-height: 64.8px;
  text-align: center;
}
.our-products {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  text-align: center;
}

.product {
  width: 447px;
  border-radius: 30px;
  background: rgb(249, 248, 248);
  padding: 30px 30px 20px 36px;
}
.img {
  border-style: dashed;
  border-color: grey;
  padding: 30px;
  width: 387px;
}

.line {
  width: 440px;
  height: 2px;
  background: rgb(212, 212, 212);
}
.product-name {
  width: 118px;
  border-radius: 8px;
  background: rgb(39, 76, 91);
  color: white;
  padding: 5px 20px;
}

.price {
  display: flex;
  gap: 20px;
}

.first-price {
  color: rgb(184, 184, 184);
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-align: left;
  text-decoration-line: line-through;
}
.last-price {
  color: rgb(39, 76, 91);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-align: left;
}
.star {
  width: 13.92px;
  height: 12.97px;
}
.second-section {
  background-image: url(../images/IMAGE.svg);
  padding: 180px;
}

.title {
  text-align: center;
  color: rgb(126, 182, 147);
  font-family: Yellowtail;
  font-size: 36px;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
}
.customer {
  flex-direction: column;
  text-align: center;
  margin-bottom: 34px;
}
.customer-title {
  text-align: center;
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  margin-bottom: 60px;
}
.text {
  white-space: nowrap;
  color: rgb(82, 92, 96);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-align: center;
  margin-bottom: 24px;
}

.sara-taylor {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 33.8px;
  letter-spacing: 0.36px;
  text-align: center;
}
.profession {
  color: rgb(82, 92, 96);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: center;
}

.line-2 {
  height: 2px;
  background: rgb(224, 224, 224);
  margin-bottom: 100px;
  text-align: center;
}

.rectangle {
  display: flex;
  gap: 20px;
  position: relative;
}

.product-info-1 {
  position: absolute;
  left: 90px;
  top: 84px;
}
.product-info-2 {
  position: absolute;
  left: 340px;
  top: 84px;
}
.product-info-3 {
  position: absolute;
  left: 600px;
  top: 84px;
}
.product-info-4 {
  position: absolute;
  left: 870px;
  top: 84px;
}
.img-par {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
}

.img-par-2 {
  color: rgb(39, 76, 91);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
}
